@font-face {
    font-family: 'Mortend';
    src: url('Mortend-Bold.woff2') format('woff2'),
        url('Mortend-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-Black.woff2') format('woff2'),
        url('DegularDemo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-Regular.woff2') format('woff2'),
        url('DegularDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-LightItalic.woff2') format('woff2'),
        url('DegularDemo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-Thin.woff2') format('woff2'),
        url('DegularDemo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-Bold.woff2') format('woff2'),
        url('DegularDemo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-SemiboldItalic.woff2') format('woff2'),
        url('DegularDemo-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-Semibold.woff2') format('woff2'),
        url('DegularDemo-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-ThinItalic.woff2') format('woff2'),
        url('DegularDemo-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-Light.woff2') format('woff2'),
        url('DegularDemo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-BoldItalic.woff2') format('woff2'),
        url('DegularDemo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-Medium.woff2') format('woff2'),
        url('DegularDemo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-MediumItalic.woff2') format('woff2'),
        url('DegularDemo-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-BlackItalic.woff2') format('woff2'),
        url('DegularDemo-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Degular Demo';
    src: url('DegularDemo-Italic.woff2') format('woff2'),
        url('DegularDemo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

