/* ////////// HOME ///////////// */

body,
html {
    overflow-x: hidden !important;
    margin: 0;
}

.marquee-text-text {
    animation-direction: reverse;
}

span.menuLink,
a.menuLink {
    color: white;
    font-family: "Obviously";
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
}

span.menuLink:hover,
a.menuLink:hover {
    color: white !important;
}

h1 {
    color: white;
    font-family: "Obviously";
}

h1.portfolioText {
    font-family: "Obviously Wide";
    color: white;
    font-size: 50px;
    margin-left: 100px;
}

h2 {
    font-family: "Obviously Wide Medi";
    font-size: 35px;
    color: white;
}

p {
    font-family: "Obviously Medi";
    color: white;
    font-size: 20px;
}

em {
    font-family: "Obviously";
    color: white;
    font-size: 15px;
}

h2.serviceText {
    font-family: "Obviously Wide Medi";
    color: white;
    font-size: 30px;
    line-height: 42px;
}

p.serviceTitle {
    font-family: "Obviously";
    color: white;
    font-size: 25px;
}

.blackText {
    color: black;
}

.divider {
    height: 100px;
}

.banner {
    font-family: "Obviously Wide Medi";
    color: white;
    font-size: 35px;
}

.banner2 {
    font-family: "Obviously Wide Medi";
    color: black;
    font-size: 35px;
}

.highlight:hover {
    color: #40ff98;
    cursor: pointer;
}

.greenSvg:hover {
    color: #40ff98 !important;
}

.px-50 {
    padding: 0 50px;
}

.px-80 {
    padding: 0 80px;
}

.px-100 {
    padding: 0 100px;
}

.pb-150 {
    padding-bottom: 150px;
}

.p-team {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pr-100 {
    padding-right: 100px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.m-100 {
    margin: 100px 0;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-150 {
    margin-top: 150px !important;
}

.mt-200 {
    margin-top: 200px !important;
}

.bg-black {
    background-color: #000;
}

a {
    color: black;
    text-decoration: none !important;
}

a.sitebar,
a.sitebar-contact {
    color: black;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    text-decoration: none !important;
}

a.sitebar:hover,
a.sitebar-contact:hover {
    color: black !important;
    font-weight: 900;
}

a.sitebar {
    font-family: "Obviously Medi";
    font-size: 25px;
}

a.sitebar-contact {
    font-family: "Obviously";
    font-size: 20px;
}

.main-img-container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url("/assets/img/header_website.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img.logo {
    width: 450px;
}

.menu {
    width: 100%;
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.bm-burger-button {
    top: 25px !important;
}

.bm-burger-bars {
    background-color: white !important;
}

.bm-menu {
    color: black !important;
    background-color: #ffffff !important;
}

.cross-style {
    right: 20px !important;
    top: 20px !important;
}

.bm-cross {
    background: black !important;
    height: 20px !important;
}

.button-menu:hover {
    background-color: #40ff98 !important;
}

.b-menu-left {
    border-left: 2px solid white;
}

.b-menu-right {
    border-right: 2px solid white;
}

#arrow {
    position: absolute;
    left: 50%;
    top: 94%;
    transform: translate(-50%, -50%);
}

#arrow:hover {
    color: #40ff98;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Obviously Medi" !important;
    font-size: 25px !important;
    text-transform: uppercase !important;
}

.scroll-container {
    padding-left: 100px;
}

.scroll-down-btn {
    position: absolute;
    top: 82px;
    left: 144px;
}

span.scroll-down-text {
    font-family: "Obviously Medi";
    color: white;
    font-size: 12px;
}

.portfolio {
    padding: 30px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.portfolioToggle {
    border-bottom: 2px solid white;
}

p.portofolioContent {
    font-family: "Obviously Lght";
    color: white;
    font-size: 20px;
}

.girandola {
    width: 50%;
    margin-top: -8%;
}

.borderWhite {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.borderBlack {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

span.cta,
a.cta {
    color: white;
    font-family: "Obviously";
    font-size: 15px;
}

.myBtn {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 40px;
}

.myBtn:hover {
    border: 2px solid #40ff98;
}

a.cta:hover {
    color: #40ff98 !important;
}

.teamText {
    font-family: "Obviously Medi";
    font-size: 25px;
    text-transform: uppercase;
}

span.teamTextD {
    font-family: "Obviously" !important;
    font-size: 15px !important;
    font-style: italic !important;
    line-height: 20px !important;
}

.b-top {
    border-top: 1px solid black;
}

.b-bottom {
    border-bottom: 1px solid black;
}

.b-left {
    border-left: 1px solid black;
}

.b-right {
    border-right: 1px solid black;
}

h1.partnerText {
    font-family: "Obviously Wide Medi";
    color: white;
    font-size: 35px;
}

.lineWhite {
    width: 100%;
    height: 1px;
    background-color: white;
}

p.contactLabel {
    font-family: "Obviously";
    color: rgba(229, 229, 229, 0.36);
    font-size: 20px;
}

a.contactContent {
    font-family: "Obviously Medi";
    color: white;
    font-size: 20px;
}

a.contactContent:hover {
    color: #40ff98;
}

a.footerLink {
    font-family: "Obviously";
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

a.footerLink2,
p.footerLink2 {
    font-family: "Obviously Medi";
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

a.footerLink:hover,
a.footerLink2:hover,
p.footerLink2:hover {
    color: #40ff98;
}

.partnerLogo {
    height: 80px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray;
    /* Fix per Explorer */
}

.partnerLogo:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.rightArrow {
    cursor: pointer;
}


/* END SLIDEDOWN */

@media screen and (max-width: 767px) {
    .hideMobile {
        display: none !important;
    }
    .mt-200 {
        margin-top: 50px;
    }
    .mt-150 {
        margin-top: 0 !important;
    }
    .mt-mobile {
        margin-top: 40px !important;
    }
    .px-100,
    .pr-100 {
        padding: 0;
    }
    .p-50,
    .px-80 {
        padding: 0 30px;
    }
    .pb-150 {
        padding-bottom: 0;
    }
    .p-mobile {
        padding: 0 30px;
    }
    .divider {
        height: 30px;
    }
    img.logo {
        width: 250px;
    }
    .bm-burger-button {
        top: 18px !important;
    }
    .b-menu-top {
        border-top: 1px solid white;
    }
    h1.portfolioText {
        font-size: 40px;
        margin-left: 10px;
    }
    .girandola {
        width: 50%;
        margin-top: 10%;
    }
    .block-mobile {
        display: block !important;
    }
    p.contactLabel {
        font-size: 12px;
    }
    a.contactContent {
        font-size: 14px;
    }
    .text-mobile-center {
        text-align: center !important;
    }
    .partnerLogo {
        height: 30px;
    }
}


/* ////////// MENU ///////////// */