@media screen and (max-width: 767px) {
  body,
  html {
    font-size: 10px;
    overflow-x: hidden;
  }
  @mixin title-font {
    font-family: "Mortend";
  }
  
  @mixin secondary-font {
    font-family: "Degular Demo";
  }
  .pd-container {
    padding: 1rem 2rem;
  }
  .agile__nav-button {
    color: black;
    padding: 0px;
    transform: scale(1.4);
    width: 20px;
    height: 20px;
    i {
      color: white;
    }
  }

  .agile .slide {
    .box-team-container {
      img {
        transform: scale(5) translateY(15px);
      }
    }
  }

  .agile {
    .agile__actions {
      width: 90%;
    }
    .slide img {
      max-width: 160px;
      max-height: 100px;
    }
  }
  .custom-card .agile .agile__actions{
    width: 95%;
  }
  .nav-link-dark,
  .nav-link-light {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 10rem;
  }

  .blog-card {
    height: 350px;
  }

  ul li a,
  .link-footer {
    font-size: 16px !important;
  }
  .top-btm {
    padding: 1rem;
    margin: 1rem;
    border-top: 1px solid var(--font-color);
  }
  .box-character-img {
    width: 100% !important;
    top: 1rem;
    left: 0%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .position-first-box-charger {
    left: 20%;
    img {
      object-fit: contain;
      transform: scale(1.2);
    }
  }
  .container-image {
    position: relative;
    height: 370px;
  }
  .btn-close-custom {
    right: 25px;
    svg {
      width: 45px;
      height: 10px;
    }
  }
  .banner {
    padding: 0rem;
    text-align: center;
    height: 160px;
  }
  .cta-banner {
    .cta-title {
      font-size: 25px;
    }
  }
  h2 {
    font-size: 80px;
    line-height: 93%;
  }

  .marquee-rotated {
    transform: rotate(0deg);
  }

  .navbar-custom {
    .marquee-text-text {
      line-height: 0.5;
      margin-top: 0px;
    }
  }

  .vm--container {
    .vm--modal {
      width: 90vw !important;
    }
  }
  .custom-card {
    width: 98%;
    min-height: 240px;
    margin: auto;
    padding: 1.5rem 0rem;
  }
  .small-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto !important;
    margin: 5px auto;
    p {
      font-size: 18px;
      margin-bottom: 0px;
    }
  }
  .buble-text {
    padding: 8px 24px;
  }
  .vh16 {
    height: 16.6666vh;
  }
  p,
  .text-strong,
  .info-member h6,
  .link-internal a,
  .submit-form {
    font-size: 20px;
  }
  .grey-text {
    color: var(--grey-text);
  }
  .text-lang {
    font-size: 18px;
  }

  .services {
    .single-service {
      position: unset;
      margin: 1.5rem auto;
      width: 90%;
      max-width: 300px;
      padding: 1.3rem 2rem;
    }
    .block-text {
      width: 90%;
      min-height: 200px;
      margin: 1.5rem auto;
    }
    .transform-rotate-one,
    .transform-rotate-two,
    .transform-rotate-three {
      transform: none;
    }
  }
  .close-icon {
    color: var(--font-color);
    font-size: 1.2rem;
    line-height: 22px;
    width: 23px;
    height: 23px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    border: 1px solid var(--font-color);
    border-radius: 300px;
    z-index: 999;
  }
  .info-member {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    p {
      color: var(--grey-text);
      font-size: 15px;
      line-height: 86, 7%;
      text-transform: uppercase;
    }
    h6 {
      color: var(--font-color);
      margin-bottom: 3rem;
    }
  }
  .active-link-portfolio {
    background-color: white;
    a {
      @include title-font();
      padding-top: 0.7rem;
      font-size: 2.6rem;
      color: var(--primary-color) !important;
    }
  }
  .link-portfolio{
    
  /*   &:hover{
       @include secondary-font();
       background-color: var(--primary-color);
    color: var(--font-color);
    font-size: 3.438rem;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    } */
  }
  .link-portfolia a {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .project-header {
    .preview-img {
      height: 500px;
      width: 100%;
    }
  }
  .link-internal {
    width: 100%;
    p {
      margin-bottom: 5rem;
    }
    a {
      padding: 1.5rem 3rem;
      font-weight: 700;
    }
  }
  .contacts {
    padding-top: 2rem;
    h5 {
      font-size: 40px;
    }
  }
  .contacts input {
    width: 100%;
  }
  .submit-form {
    padding: 0.7rem 3rem;
  }
  .vm--container{
    .vm--modal{
      label{
        width: 100%;
      }
    }
  }
  .bk-team{
    /* display: none!important; */
  }
  .box-team-container{
    cursor: auto!important;
  }
  .footer-top {
    line-height: 50px;
  }
  .content-container {
    padding:9rem 0rem 17rem!important;
    height: 300px;
    width: 75%;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .content-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .content-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .content-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  .content-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body,
  html {
    font-size: 14px;
    overflow-x: hidden;
  }
  .pd-container {
    padding: 1rem 2rem;
  }
  h2 {
    font-size: 10rem;
    width: 90%;
  }
  .box-character-img {
    width: 100% !important;
    bottom: 0;
    left: 0%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .text-service-one{
    position: relative;
    z-index: 99;
  }
  .box-team-container img{
    transform: scale(2.2);
  }
  .position-first-box-charger {
    left: 28%;
    top: 8rem;
    height: 90%;
    img {
      object-fit: contain;
      transform: scale(0.9);
    }
  }
  .position-second-box-charger{
    top: 400px;
    img{
      transform: scale(1.1);
    }
  }
  #nameProject{
    text-align: center;
  }
  .services {
    .single-service {
      position: unset;
      margin: 1.5rem auto;
      width: 90%;
      max-width: 300px;
      padding: 1.3rem 2rem;
    }
    .block-text {
      width: 90%;
      min-height: 200px;
      margin: 1.5rem auto;
      p{
        font-size: 25px;
      }
    }
    .transform-rotate-one,
    .transform-rotate-two,
    .transform-rotate-three {
      transform: none;
    }
  }
  ul li a,
  .link-footer {
    font-size: 20px !important;
  }
  .vm--container .vm--modal{
    width: 65vw!important;
  }
  .team-card{
    .team-img-card img{
      width: 250px;
      max-height: 380px;
      transform: scale(1.3);

    }
  }
  .small-card{
    display: none;
  }
}