body,
html {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  overflow-x: hidden;
}
//   =======================================================================================
// --===================================== COLORS =====================================--
//   =======================================================================================
:root {
  --primary-color: black;
  --font-color: white;
  --lighter-color: #1b1b1b;
  --high-contrast-color: #eff3f2;
  --colored: #84ff9d;
  --grey-text: #9c9c9c;
}

.bg-darker {
  background-color: var(--primary-color);
}

.bg-light {
  background-color: var(--font-color);
}

.color-primary {
  color: var(--font-color);
}

.primary-color {
  color: var(--primary-color) !important;
}

.secondary-color {
  color: var(--font-color) !important;
}

// -- MIXINS --
@mixin btn {
  padding: 10px 50px;
  border: 1px solid var(--font-color);
  border-radius: 100px;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--font-color);
  @include secondary-font();
  font-size: 1.875rem;
  font-weight: 500;
  &:hover {
    transition: all 0.3s;
    background-color: var(--font-color);
    color: var(--primary-color);
    transition: all 0.3s;
  }
}

@mixin btn-medium {
  padding: 10px 25px;
  border: 1px solid var(--font-color);
  background-color: var(--font-color);
  border-radius: 100px;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--primary-color);
  @include secondary-font();
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1;
  &:hover {
    transition: all 0.3s;
    background-color: var(--font-color);
    color: var(--primary-color);
    transition: all 0.3s;
  }
}

@mixin navlink {
  @include secondary-font();
  font-style: normal;
  font-weight: 500;
  font-size: 15.625rem;
  line-height: 1;
}

@mixin title-font {
  font-family: "Mortend";
}

@mixin secondary-font {
  font-family: "Degular Demo";
}
//   =======================================================================================
//    --===================================== FONTS =====================================--
//   =======================================================================================
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: var(--colored);
  }
}
.color-link:hover{
  color: var(--colored);
}
.big-link {
  @include secondary-font();
  font-size: 3.313rem;
  color: var(--font-color);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0.8;
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: pointer;
  &:hover {
    color: var(--font-color);
  }
}

.cta {
  @include secondary-font();
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 98.4%;
  text-align: center;
  color: var(--font-color);
  text-transform: uppercase;
}

h2 {
  @include navlink();
  color: var(--font-color);
  text-transform: uppercase;
}

h3 {
  @include secondary-font();
  font-size: 5rem;
  color: var(--font-color);
  font-weight: 400;
}

h4 {
  @include title-font();
  font-size: 6.25rem;
  color: var(--font-color);
  font-weight: 700;
}

h5 {
  @include title-font();
  color: var(--primary-color);
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  font-size: 1.875rem;
}

h6 {
  @include secondary-font();
  color: var(--font-color);
  font-weight: 400;
  line-height: 0.8;
  text-transform: uppercase;
  font-size: 1.875rem;
}

p {
  @include secondary-font();
  font-weight: 400;
  font-size: 1.563rem;
  color: var(--font-color);
  line-height: 1.1;
}
.text-strong {
  @include title-font();
  text-align: center;
  font-size: 1.56rem;
  font-weight: 700;
  color: var(--primary-color);
}

.title-team {
  @include title-font();
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.label {
  @include secondary-font();
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.submit-form {
  text-transform: uppercase;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 0.1rem 2rem;
  &:hover {
    background-color: var(--colored);
  }
}
.big-title {
  @include secondary-font();
  font-size: 18.75rem;
  color: var(--font-color);
  line-height: 0.9;
}

.marquee-title {
  @include title-font();
  font-size: 9.375rem;
  font-weight: 700;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  color: var(--font-color);
  line-height: 1;
}
.marquee-text-text h4 {
  text-transform: uppercase;
}
.marquee-title-2,
h1 {
  @include secondary-font();
  font-size: 12.5rem;
  font-weight: 500;
  color: var(--font-color);
  line-height: 0.9;
}

.nav-link-light {
  @include navlink();
  text-transform: uppercase;
  color: var(--font-color);
  &:hover {
    color: var(--font-color) !important;
  }
}

.nav-link-dark {
  @include navlink();
  text-transform: uppercase;
  color: var(--primary-color);
  &:hover {
    color: var(--primary-color) !important;
  }
}

.text-service-one,
.text-service-two {
  @include secondary-font();
  font-weight: 400;
  font-style: normal !important;
}

.text-service-one {
  font-size: 1.875rem;
  color: var(--font-color);
  line-height: 92.7%;
}

.text-service-two {
  font-size: 1.563rem;
  color: var(--colored);
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.underline-hover {
  &:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}

//   =======================================================================================
// --===================================== POSITIONING =====================================--
//   =======================================================================================
.border-bottom-light {
  border-bottom: 1px solid var(--font-color);
}

.full-h {
  min-height: 100vh;
}

.gap {
  height: 100px;
  width: 100%;
  background-color: transparent;
}

.negative-position {
  margin-right: 20vw;
  margin-bottom: 10vh;
}

.no-overflow-x {
  overflow-x: hidden;
}

.vh100 {
  height: 100vh;
}

.pd-container {
  padding: 1rem 3rem;
}
.margin-btm {
  margin-bottom: 6rem;
}
//   =======================================================================================
// --===================================== MAIN ELEMENT =====================================--
//   =======================================================================================
.agile {
   button{
    position: absolute;
    top: calc(50% - 0.6rem);
  }
  .agile__nav-button--prev{
    left: 0px;
  }
  .agile__nav-button--next{
    right: 0px;
  }
  .slide {
    text-align: center;
    a{
      display: inline-block;
    }
   
    img {
      max-height: 100px;
      max-width: 200px;
      height: auto;
      width: auto;
    }
  }
}

.blog-card {
  width: 100%;
  height: 380px;
  border-radius: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .bg-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: saturation;
    filter: invert(63%) sepia(38%) saturate(606%) hue-rotate(207deg)
      brightness(104%) contrast(103%);
  }

  .blog-card-content {
    position: relative;
    z-index: 2;
  }
}

.blog-title,
.blog-date {
  @include secondary-font();
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--primary-color);
  text-transform: uppercase;
  line-height: 1;
}
.blog-category,
.blog-cta {
  @include secondary-font();
  font-size: 1.8rem;
  font-weight: 200;
  color: var(--primary-color);
  text-transform: uppercase;
}

.blog-text {
  * {
    color: var(--font-color) !important;
  }
}

.cta-banner {
  background-color: var(--font-color);
  transition: all 0.3s;
  cursor: pointer;
  .cta-title {
    @include title-font();
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 1;
    text-transform: uppercase;
  }
  .cta-text {
    @include secondary-font();
    font-weight: 500;
    font-size: 1.563rem;
    text-transform: uppercase;
    line-height: 1;
  }
  &:hover {
    i {
      position: relative;
      animation: mymove 3s infinite;
    }

    @keyframes mymove {
      0% {
        left: 0px;
      }
      50% {
        left: 100px;
      }
      100% {
        left: 0;
      }
    }
  }
}

.box-character-img {
  position: absolute;
  z-index: 10;
  width: 45%;

  .imgTeam {
    max-height: 600px;
  }
}
.position-first-box-charger {
  height: 93%;
  top: 3rem;
  left: 60%;
  img {
    height: 90vh;
    object-fit: contain;
    object-position: bottom;
  }
}
.position-second-box-charger {
  width: 100%;
  bottom: 0rem;
  left: 0px;
  img {
    object-fit: contain;
    float: right;
    width: auto;
  }
}

.border-image {
  border: 1px solid white;
  img {
    opacity: 0;
  }
}
.border-image-hide {
  border: 1px solid rgba(255, 255, 255, 0);
  img {
    opacity: 1;
  }
}
.box-team-container {
  position: relative;
  cursor: pointer;
  width: 190px;
  height: 280px;
  border-radius: 300px;
  margin: auto;
  overflow: hidden;
  &:hover .bk-team {
    animation: enterText 0.4s;
    opacity: 0.9;
  }
  @keyframes enterText {
    to {
      opacity: 0.9;
    }
    from {
      opacity: 0;
    }
  }
  .bk-team {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #84ff9d;
    z-index: 99;
    animation: test 1s;
    opacity: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.custom-card {
  background-color: var(--lighter-color);
  border-radius: 33px;
}
.services .link-portfolio a {
  &:hover {
    text-decoration: underline !important;
  }
}

.link-portfolio {
  position: relative;
  margin: 0.5rem auto;
  a {
    @include secondary-font();
    color: var(--font-color);
    font-size: 3.438rem;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
  }
  .left-img {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 20%;
    width: 200px;
    height: 100;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .right-img {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(0, -50%);
    opacity: 0;
    width: 200px;
    height: 100;
    transition: all 0.3s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:hover {
    .list-portfolio {
      @include title-font();
      padding-top: 0.7rem;
      font-size: 3.12rem;
      color: var(--primary-color);
      background-color: white;
    }
    /* .left-img,
    .right-img {
      opacity: 1;
      transition: all 0.3s;
    } */
  }
}
.active-link-portfolio {
  background-color: white;
  a {
    @include title-font();
    color: var(--primary-color) !important;
    padding-top: 0.7rem;
    font-size: 3.12rem;
  }
}
.link-internal {
  width: 40%;
  margin: auto;
  p {
    @include secondary-font();
    color: var(--font-color);
    font-size: 3.438rem;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  a {
    @include secondary-font();
    color: var(--font-color);
    font-size: 1.56rem;
    text-transform: uppercase;
    border: 1px solid var(--font-color);
    padding: 0.4rem 1.3rem;
    border-radius: 100px;
    transition: all 0.2s;
    &:hover svg {
      transition: all 0.2s;

      transform: translateX(7px);
    }
    svg {
      width: 22px;
      margin-left: 1rem;
      padding-bottom: 0.2rem;
    }
  }
}

.project-header {
  .preview-img {
    border-radius: 8px;
    text-align: center;
    img {
      width: 100%;
      max-width: 300px;
      min-width: 200px;
      max-height: 200px;
      min-height: 100px;
      height: 100%;
      overflow: visible;
      object-fit: contain;
      object-position: center;
      border-radius: 10px;
      margin: auto;
      text-align: center;
    }
  }
}

.loader {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .content {
    width: 100%;
    max-width: 100%;
    @include title-font();
    color: var(--font-color);
    font-size: 5.625rem;
    font-weight: 700;
    text-transform: uppercase;
    word-break: break-all !important;
    background-color: var(--primary-color);
  }
  .divider {
    width: 100%;
    height: 13px;
    background-color: var(--font-color);
  }
}

.marquee-rotated {
  transform: rotate(90deg);
  overflow: unset !important;
}

.marquee-text-content {
  &:hover {
    * {
      -moz-animation-play-state: paused;
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }
  }
}

.navbar-custom {
  .marquee-text-text {
    line-height: 0.5;
    margin-top: -74px;
  }
}
.portfolio-inner {
  .marquee-text-text {
    line-height: 0.9;
    h4 {
      font-size: 7.5rem;
    }
  }
}
.marquee-text-text {
  line-height: 0.5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0px;
  li {
    a,
    .link-footer {
      color: var(--font-color);
      text-decoration: none;
      @include secondary-font();
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 108.4%;
      &:hover{
        color: var(--font-color);
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }
    .copyright{
      &:hover{
        text-decoration: none!important;
      }
    }
  }
}

.team-card {
  i {
    font-size: 2rem;
  }
  .team-img-card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15.5vw;
    height: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding-top: 5rem;
      transform: scale(1.4);
    }
  }
}
.form {
  input,
  label {
    width: 100%;
    margin-top: 0.8rem;
    border: 1px solid var(--grey-text);
    background: transparent;
    border-radius: 7px;
    padding: 0.5rem 1rem;
    &:focus {
      outline: none;
    }
  }
}
.vm--container {
  display: flex;
  align-items: center;
  justify-content: center;
  .vm--modal {
    background-color: var(--high-contrast-color);
    border-radius: 18px;
    position: relative;
    padding: 2rem 3rem;
    height: auto !important;
    min-height: 55vh;
    width: 55vw !important;
    top: unset !important;
    left: unset !important;
    h5 {
      line-height: 93.7%;
    }

    .dropZoneContainer {
      position: relative;
    }
    .FileUpload {
      opacity: 0;
      position: relative;
      z-index: 1;
    }
    span {
      padding: 1rem 0.5rem;
      top: 25px !important;
    }
    label {
      width: 50%;
    }
    label,
    span {
      cursor: pointer;
      color: var(--grey-text);
      text-align: right;
      position: absolute;
      top: 20px;
      left: 0px;
      i {
        font-size: 14px;
      }
    }
    #file {
      position: relative;
      background-color: red;
    }
    .test {
      position: absolute;
    }
  }
}

//   =======================================================================================
//   --===================================== BUTTONS =====================================--
//   =======================================================================================
header{
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0rem 3rem;
  margin-bottom: 2rem;
}
.logo{
  width: 150px;
}
.btn-close-custom {
}

.btn-blog {
  @include btn-medium();
}

.btn-primary {
  @include btn();
}

.btn-social {
  border: 1px solid var(--font-color);
  /* background-color: var(--primary-color); */
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 50px;
  padding: 7px 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--font-color);
  text-decoration: none;
  min-width: 70px;
  line-height: 1;
  &:hover {
    background-color: var(--font-color);
    color: var(--primary-color);
  }
}

button {
  background-color: transparent;
  border: none;
  color: var(--font-color);
  i {
    font-size: 1.2rem;
  }
}

.toggler-service {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--font-color);
  border-radius: 100px;
  position: relative;
  z-index: 999;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

//   =======================================================================================
// --===================================== MISCELLANEUS =====================================--
//   =======================================================================================
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--font-color);
}
.pointer {
  cursor: pointer !important;
}
.pointer-link {
  box-shadow: inset 0 0 0 0 white;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: inset 4000px 0 0 0 var(--high-contrast-color) !important;
    * {
      color: var(--primary-color) !important;
    }
  }
}

.b-bottom-light {
  border-bottom: 1px solid var(--font-color);
}

.height-navbar {
  height: calc(100vh - 100px);
  overflow: hidden;
}
.column-navbar {
  width: calc(100vw / 5);
}
.buble-text {
  padding: 10px 30px;
  border: 1px solid var(--font-color);
  border-radius: 100px;
  vertical-align: middle;
  display: inline-block;
  text-transform: uppercase;
}
.text-lang {
  @include title-font();
  margin-bottom: 0px;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
}
.footer-top {
  height: 100px;
  color: white;
}

.banner {
  width: 100vw;
  height: 210px;
  background-color: white;
  padding: 0rem 3rem;
  a {
    height: 100%;
    width: 100%;
    display: inline-block;
  }
  h3,
  p {
    color: black;
  }
}
.vm--overlay {
  pointer-events: none !important;
}

.title-carousel {
  @include secondary-font();
  font-size: 3.12rem;
  font-weight: 400;
  line-height: 99.4%;
  text-transform: none;
}
.sub-title-project {
  text-transform: none;
  line-height: 92.7%;
}
.link-title:hover * {
  color: var(--colored) !important;
}
.services {
  .service-content {
    position: relative;
  }
  .marquee-text-wrap {
    position: relative;
    z-index: 10;
    &:hover {
      z-index: 1;
    }
  }
  .single-service {
    border: 1px solid var(--colored);
    border-radius: 100px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--colored);
    background-color: var(--primary-color);
    position: absolute;
    padding: 0.5rem 1rem;
    min-width: 260px;
    &:hover {
      z-index: 20;
    }
    p {
      color: var(--colored);
      margin-bottom: 0px;
      line-height: normal;
      text-align: center;
      padding-top: 4px;
    }
  }
  .active {
    background-color: var(--colored);
    z-index: 15 !important;
    p {
      color: var(--primary-color);
    }
  }
  .active-text {
    font-weight: 500;
    text-transform: uppercase;
    color: var(--colored);
  }
  .block-text {
    min-height: 300px;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .position-one {
    top: -40px;
    z-index: 15;
  }

  .position-two {
    bottom: -10px;
    z-index: 5;
  }
  .position-three {
    bottom: -15px;
    z-index: 15;
  }
  .position-five {
    bottom: -35px;
    z-index: 15;
  }
  .lft-10 {
    left: 10%;
  }
  .lft-15 {
    left: 15%;
  }
  .lft-25 {
    left: 25%;
  }
  .lft-40 {
    left: 40%;
  }
  .lft-50 {
    left: 50%;
  }
  .lft-75 {
    left: 75%;
  }

  .transform-rotate-one {
    transform: matrix(0.99, 0.13, -0.12, 0.99, 0, 0);
  }
  .transform-rotate-two {
    transform: matrix(0.99, -0.12, 0.11, 0.99, 0, 0);
  }
  .transform-rotate-three {
    transform: matrix(0.99, 0.13, -0.12, 0.99, 0, 0);
  }
  /* .marquee-text-content:hover {
    animation-play-state: running !important;
  } */
  .marquee-text-text h4 {
    cursor: pointer;
  }
}
.err {
  background-image: url("../assets/images/error.png");
  background-size: max(1000px, 80%);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.index {
  z-index: 10;
}
.title-error {
  background: var(--font-color);
  h2 {
    color: var(--primary-color);
  }
}

.contacts {
  h5 {
    @include secondary-font();
    font-size: 6.25rem;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 83%;
    text-transform: none;
  }
  input,
  textarea {
    color: var(--primary-color);
    border: none;
    border-bottom: 1px solid #757575;
    &:focus {
      outline: none;
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input {
    width: 90%;
    margin: 3rem 0.5rem;
    padding-bottom: 0.5rem;
  }
  textarea {
    margin-top: 3rem;
    width: 100%;
    &::placeholder {
      color: #bfbebe;
    }
  }
  .btn-social {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--font-color);
  }
}
.btn-disabled {
  cursor: no-drop;
  opacity: 0.4;
}
.btn-disabled:hover {
  cursor: no-drop;
  background: white !important;
  color: black;
}
.card-sent {
  padding: 1rem;
  img {
    width: 63px;
    margin-bottom: 3rem
  }
  h6 {
    @include secondary-font();
    font-size: 2.5rem;
    color: var(--primary-color);
    line-height: 95.7%;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: none!important;

  }
  p {
    @include secondary-font();
    font-size: 1.125rem;
    color: var(--primary-color);
    line-height: 99.4%;
    font-weight: 400;
    width: 60%;
    margin: auto;
  }
}
