<font
  ><div style="display: flex; align-items: flex-start">
    <div style="margin-right: 30px">
      <div dir="auto" style="font-size: 16px; font-weight: bold">
        <img
          src="https://raw.githubusercontent.com/yomi-digital/logo/535c216c4862091ff6eda7b974bf037fcde6d7b4/YOMI_-_black.svg"
          width="160"
          style="color: var(--textColor); font-size: 14px"
        /><br />
      </div>
      <div dir="auto" style="font-size: 16px; font-weight: bold"><br /></div>
      <div dir="auto" style="font-weight: bold">
        <font face="Helvetica" style="font-size: 16px">STEFANO RANIOLO</font>
      </div>
      <div>
        <div dir="auto">
          <div dir="auto">
            <div dir="auto">
              <div dir="auto">
                <font face="Helvetica" style="font-size: 16px"
                  >Co-Founder | Frontend Dev</font
                >
              </div>
              <div><br /></div>
            </div>
          </div>
          <div dir="auto">
            <font style="font-size: 13px"
              ><font face="Helvetica" color="#464646"
                ><span style="background-color: var(--backgroundColor)"
                  >VISIT OUR </span
                ></font
              ><a
                href="https://yomi.digital"
                ;
                style="
                  background-color: var(--backgroundColor);
                  font-family: Helvetica;
                  font-weight: bold;
                "
                ><font color="#464646"> WEBSITE</font></a
              ></font
            >
          </div>
          <div dir="auto">
            <span style="background-color: var(--backgroundColor)"
              ><font style="font-size: 13px"
                ><font color="#464646">AND&nbsp;</font
                ><a
                  href="https://discord.gg/ rUCXCCwT"
                  style="font-family: Helvetica; font-weight: bold"
                  ><font color="#464646">JOIN US ON DISCORD!</font></a
                ></font
              ></span
            ><br />
          </div>
          <div dir="auto"><br /></div>
          <div dir="auto">
            <a href="https://twitter.com/YOMI_WEB3"
              ><img
                src="https://yomi.digital/utils/tw.png"
                width="30"
                style="color: var(--textColor)" /></a
            >&nbsp;&nbsp;<a href="https://it.linkedin.com/company/yomiweb3"
              ><img
                src="https://yomi.digital/utils/ln.png"
                width="30"
                style="color: var(--textColor)" /></a
            ><br />
          </div>
          <div dir="auto"><br /></div>
          <div dir="auto"><br /></div>
        </div>
      </div>
    </div>
    <div>
      <div dir="auto" style="font-size: 16px; font-weight: bold">
        <img
          src="https://media-exp1.licdn.com/dms/image/D4D03AQELlDulHuNVTA/profile-displayphoto-shrink_400_400/0/1666078771920?e=1672876800&v=beta&t=OfyPMTNZuhXcTZVgyU8Mf3RQ9BU5JmDDogstDYGZKLo"
          width="180"
          style="color: var(--textColor)"
        />
      </div>
    </div></div
></font>
